/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  //background-color: blue;
}

.read-the-docs {
  color: #888;
}
  /*  */
    /* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
  
.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* border: solid purple 3px ; */
  border-radius: 15px ;
  background-color: lavender;
}

.forms-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.form-year {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: whitesmoke;
  /* border: solid blue 2px; */
  border-radius: 12px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
}
.form-calculate {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: whitesmoke;
  /* border: solid blue 2px; */
  border-radius: 12px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
}
.form-year-btns {
  max-width: 800px;
  /* text-align: center; */
  /* border: solid green 2px ; */
  border-radius: 5px ;
  background-color: white;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

button {
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em 1em;
  /* border: solid darkblue 2px ; */
  border-radius: 8px ;
  background-color: lightblue;
  cursor: pointer;
  margin: 10px;
}
button:hover {
  background-color: deepskyblue;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  color: darkred;
}

.bracket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom: solid lightgray 1px ;
}
.income-range {
  font-size: 16px;
  color: darkblue;
  margin-left: 40px ;
}
.dropdown {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid gray 1px ;
}
.select {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid gray 1px ;
}